<article>
  <section>
    <div class="title-image">
      <img class="full-width-image" alt="" loading="lazy"
           src="assets/coaching_water.jpg">
    </div>
  </section>
  <div class="quote block gray-background">
    <p class="quotation-marks">“</p>
    <div class="quote__text">
      Beim Coaching geht’s nicht darum jemandem zu sagen, was er tun soll.<br>Es ist eine Anleitung zur Selbsthilfe.
    </div>
  </div>

  <section class="block">
    <p>Als Coach begleite ich Führungskräfte, Einzelpersonen sowie Gruppen bzw. Teams auf ihrem Weg zur
      Entscheidungsfindung, persönlichen Weiterentwicklung und bei der positiven Zukunftsgestaltung. Mein Anspruch in
      meinen Coachings ist die Förderung von Bewusstsein, Verantwortung und Selbstreflexionsvermögen. Ich unterstütze
      Sie dabei, Wertvolles zu behalten und mit nützlichem Neuen zu ergänzen.</p>
  </section>

  <section class="block gray-background">
    <h2>Was tut ein Coach?</h2>
    <p>Definiert ist das Coaching als ein interaktiver personenzentrierter Beratungs- und Begleitungsprozess, der
      zeitlich begrenzt, themenbezogen und zielorientiert stattfindet.
      Der Begriff „Coach“ hat seine Wurzel im Ungarischen und bedeutet eigentlich „Kutsche“ – also etwas, das uns von
      einem Ort zu einem anderen bringt – oder, auf persönlicher Ebene, etwas, das uns weiterbringt. Coaching als
      prozessorientierte Begleitung unterliegt allerdings ganz gewissen Spielregeln und Grundsätzen:
      Verschwiegenheit
      Freiwilligkeit
      Unabhängigkeit
      Eigenverantwortung
      Der Klient bestimmt den Inhalt und der Coach leitet den Prozess
      Offener methodischer Rahmen
      Professionelle Beziehung
      Klarer Zeitrahmen
      Störungsfreies Setting
    </p>
  </section>

  <section class="block">
    <h2>Ziele und Nutzen von Coaching</h2>
    <p> Begleitung in herausfordernden Zeiten und Situationen durch die neutrale Grundhaltung des
      Coachs
      Förderung von Selbstentwicklung und Mustererkennung
      Entwicklung von Selbstsicherheit, Selbstwirksamkeit und Selbststeuerung
      Stärkung zieldienlicher Fähigkeiten und Kompetenzen
      Finden von Klarheit und Entwicklung eigener Lösungen zu einem bestimmten Thema
      Hilfe bei Entscheidungsfindung und Verbesserung der Entscheidungsfähigkeit
      Motivation und Mut zum Tun erlangen
      Impulse für Veränderungen bekommen
      Stärken stärken und Schwächen akzeptieren lernen
      Resilienz entwickeln – positiver Umgang mit Stress
      Gedanken, Gefühle und Reaktionen annehmen lernen

    </p>
  </section>


  <section class="block gray-background">
    Grundsätzlich ist ein Coaching aber immer auch eine wertvolle Zeit, die man sich für sich selbst nimmt. Eine Zeit,
    in der man mit seinem Coach jemanden zur Seite hat, der zuhört und einen ernst nimmt; wo man Gedanken, Gefühle,
    Wünsche und Befürchtungen äußern kann, um gemeinsam mit dem Coach eine tragfähige Lösung zu erarbeiten.
    Ein guter Coach kann als Sparringpartner hilfreiches Feedback geben – agiert er doch anders als Freunde, Familie und
    Kollegen unvoreingenommen, dafür aber mit wirkungsvollen Fragetechniken, die Drama auffangen, Sackgassen vermeiden
    und Lösungsräume eröffnen.
  </section>
</article>
<app-contact-section></app-contact-section>
