<article>
<div class="quote block gray-background">
  <p class="quotation-marks">“</p>
  <div class="quote__text">
    Es begeistert mich, Menschen auf ihrem Weg aus schwierigen Situationen<br> hin zu einem friedlichen Miteinander zu
    begleiten.
  </div>
</div>

<section class="block">
  <div class="about-me">
    <div class="about-me__text"><p>Schon als Kind war mir Streit zuwider, ein konfliktfreies
      Leben erschien mir ideal.<br>Inzwischen habe ich gelernt, dass Konflikte nicht nur zum Leben dazugehören,
      sondern auch Chancen<br>für Wachstum und Weiterentwicklung bieten – für den Menschen selbst, aber auch für
      Familien, Gemeinschaften, Teams und andere Systeme. Mittels konstruktiver Konfliktbearbeitung können sich für
      alle Beteiligten neue Wege zu einem angenehmeren, friedlicheren Miteinander und einem besseren Zusammenhalt
      öffnen.</p>
      <p>
        <em><span>Ihnen bei der Suche nach diesem Weg zu helfen, ist mir als Mediatorin ein wesentliches Anliegen.</span></em><br><em><span>Dabei bestimmen Wertschätzung und Respekt vor der jeweiligen Situation der Klienten meine Haltung.</span></em>
      </p>
      <p>Diesem Grundsatz folgend nehme ich mir gerne Zeit für Sie.<br>Ein ausführliches Informationsgespräch ist für
        mich besonders wichtig, um Sie besser kennen zu lernen und in weiterer Folge abzuklären, inwiefern ich Sie
        unterstützen und Ihnen ein Angebot erstellen kann.<br>Ich arbeite ziel- und lösungsorientiert, sowie
        systemisch (die Umwelt bzw. das Umfeld der KlientInnen<br>wird stets berücksichtigt) um Ihren Zielen näher zu
        kommen.</p>
    </div>
    <div class="about-me__image-container"></div>
  </div>
</section>

<section class="block gray-background">
  <h2 class="elementor-heading-title elementor-size-default">Werdegang</h2>
  <div class="elementor-text-editor elementor-clearfix"><p>Geboren in Wien, aufgewachsen in Unterach am Attersee,
    führten meine Wege über Salzburg, Graz, Triest, Dublin und Wien schlussendlich zurück nach Oberösterreich, wo ich
    mit meiner Familie in Enns lebe.</p>
    <p>Ich blicke zurück auf über 20 Berufsjahre, mehr als 10 Jahre in einem mittelständischen, internationalen
      Maschinenbauunternehmen, davon langjährig als Personalverantwortliche. Zuletzt war ich im Weltkonzern Kühne +
      Nagel als Human Resources Business Partnerin und Personalentwicklerin tätig.</p>
    <p>Gezielte Weiterbildungen im Bereich Human Resource Management sowie ein postgraduales Studium für Mediation und
      Konfliktmanagement runden mein Profil ab.<br>Meine Berufserfahrung, überwiegend im Personalmanagement, liegt
      schwerpunktmäßig in folgenden Bereichen:</p>
    <ul>
      <li>Personalentwicklung und Organisationsentwicklung</li>
      <li>Moderation von Strategiegesprächen</li>
      <li>Begleitung bei Changemanagement- und Veränderungsprozessen</li>
      <li>Kommunikation – Führen von Konfliktgesprächen</li>
      <li>Nachfolgeplanung und Talente-Management</li>
      <li>Konfliktmanagement</li>
      <li>Trennungsmanagement</li>
      <li>Teamentwicklung</li>
    </ul>
  </div>
  <span class="elementor-button-text">Mein Lebenslauf</span>
</section>
</article>
<app-contact-section></app-contact-section>
