.quote {
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
  line-height: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;

  .quotation-marks {
    margin: 0;
    padding: 0;
    outline: 0;
    color: #7a7a7a;
    content: "“";
    font-family: Times New Roman, Times, serif;
    font-weight: 900;
    font-size: 100px;
    line-height: 1;
    display: block;
    height: 0.6em;
  }

  .quote__text {
    padding: 0 20px;
    color: #7a7a7a;
  }
}

.about-me {
  display: flex;
  flex-direction: row;

  .about-me__text {
    flex: 2;
  }

  .about-me__image-container {
    background-image: url('~src/assets/Astrid-Oellinger2.jpg');
    background-position: center center;
    background-size: cover;
    flex: 1;
    min-height: 450px;
  }
}
