<article>
  <section>
    <div class="title-image">
      <img class="full-width-image" alt="" loading="lazy"
           src="assets/unternehmensberatung_water.jpg">
    </div>
  </section>

  <section class="block gray-background">
    Veränderungsprozesse, Entwicklungsschübe und Wachstumsschmerzen sind auch für ein Unternehmen nichts
    Außergewöhnliches. Dafür gibt aber professionelle Begleitung. Und sie steht Ihnen zur Verfügung.

    Reden Sie mit mir, schildern Sie mir Ihre Anliegen, lassen Sie mich Ihre Unternehmenskultur verstehen und Ihnen neue
    Wege und Lösungen aufzeigen.

    Jedes Unternehmen ist anders, jede Herausforderung ist individuell und Menschen sowieso. Darauf stelle ich mich ein.
    Ich habe eine Herangehensweise mit der wir uns gemeinsam zum Kern vorarbeiten.

    <h3>Schritt für Schritt zum Ziel</h3>

    <ol>
      <li>
        <span class="title">Auftragsklärung</span>
        <div class="text">Vor dem Start klären wir das Ziel des Auftrags. Ich möchte sicherstellen, dass Sie und ich
          dasselbe meinen und
          verstehen, damit wir am Ende Ihr gewünschtes Ergebnis erreichen.
        </div>
      </li>
      <li>
        <span class="title">Vorabanalyse</span>
        <div class="text">Ich hole alle Information ein, die mir zur Verfügung stehen. Das kann durch Besuche vor Ort geschehen, sowie anhand
          der bereitgestellten Quellen. Dazu gehören unter anderem Firmenstrategie, Vision, Mission, Leitlinien, Aufbau- und
          Ablauforganisation.
        </div>
      </li>
      <li>
        <span class="title">Gespräche</span>
        <div class="text">Ich führe Interviews mit einzelnen Personen und arbeite in Gruppen. Damit soll die Informationsbeschaffung
          abgeschlossen werden und unter anderem das Verständnis der Mitarbeiter für die anstehenden Veränderungen gefördert
          werden.
        </div>
      </li>
      <li>
        <span class="title">Überblick</span>
        <div class="text">Ich habe ein klares Bild vom Unternehmen bekommen und ein Gespür für den Betrieb entwickelt. Daraus kann ich jetzt
          ableiten welche Schritte gesetzt werden sollen und gemeinsam mit Ihnen überprüfen, ob diese zum Unternehmen passen.
        </div>
      </li>
      <li>
        <span class="title">Handlungsempfehlungen</span>
        <div class="text">Am Ende des Beratungsprozesses erarbeite ich konkrete Handlungsempfehlungen. Diese diskutiere ich mit Ihnen und
          passe sie gegebenenfalls an. Erstmal umgesetzt werden diese Maßnahmen die gewünschten Veränderungen anstoßen.
        </div>
      </li>
      <li>
        <span class="title">Umsetzung</span>
        <div class="text">Nun geht es an die Umsetzung. Sie entscheiden welchen Bedarf Sie dabei haben und wie ich Sie unterstützen kann. Das
          gebe ich gerne in Ihre Hand, denn mir geht es darum Sie erfolgreich zu machen und Ihnen das zur Verfügung zu
          stellen, was Sie brauchen, um die Veränderung erfolgreich zu gestalten.
          Die Bedürfnisse Ihres Unternehmens stehen dabei im Mittelpunkt. Gemeinsam mit Ihnen erarbeite ich ein
          maßgeschneidertes Unternehmenskonzept und begleite Sie bei der Umsetzung im Bereich Personalmanagement, durch
          Mediation & Coaching, Training und Workshops.
        </div>
      </li>
    </ol>
  </section>

  <section class="block">
    <h2>Vorträge</h2>
    Ich biete regelmäßig Vorträge zu verschiedenen betriebs¬wirtschaftlich relevanten Themen an. Vorträge sind eine
      gute Alternative zu Seminaren und Workshops, die wesentlich mehr Zeit in Anspruch nehmen.
      Gerne veranstalte ich auf Ihr Unternehmen zugeschnittene Vorträge zu folgenden Themen:
    <ul>
      <li>Konfliktmanagement</li>
      <li>Resilienz</li>
      <li>New Work</li>
      <li>Kommunikation</li>
      <li>aktuelle Themen/Trends</li>
    </ul>
  </section>

  <section class="block gray-background">
    <h2>Seminare / Workshops</h2>
    Sie möchten Ihre Mitarbeiter in Ihrem Unternehmen fördern und die Arbeits¬atmosphäre langfristig verbessern? Das
      Potential Ihrer Mitarbeiter richtig erkennen, Konflikte einfach lösen und Ihre Führungs¬kräfte stärken. Ich biete
      Seminare und Workshops zu den verschiedensten Bereichen an.
    <h3>Folgende Themen könnten Sie interessieren:</h3>
    <ul>
      <li>Führungskräfteseminar / Leadership Developement</li>
      <li>Team Coaching / Teambuilding</li>
      <li>Konfliktmanagement</li>
      <li>Burn Out Prävention / Stressmanagement</li>
    </ul>
  </section>
</article>
<app-contact-section></app-contact-section>
