<article>
  <section>
    <div class="title-image">
      <img class="full-width-image" alt="" loading="lazy"
           src="assets/home_water.jpg">
    </div>
  </section>
  <section class="section">
    <h2 class="section-title">Was ist Mediation?</h2>
    <div class="section-content">Mediation ist ein Verfahren der Konfliktbearbeitung, bei dem eine neutrale,
      außenstehende Person (Mediator) zwischen den Parteien (Medianten) vermittelt und sie bei der Entwicklung einer
      gemeinsamen, für alle zufriedenstellenden Lösung unterstützt.
      Mediation fördert somit die eigenverantwortliche und kooperative Bearbeitung von Konflikten. Sie ist in allen
      privaten, beruflichen und öffentlichen Belangen einsetzbar.

      Mediative Techniken geben Orientierung und ermöglichen gegenseitige Anerkennung und Wertschätzung. Das bedeutet
      Klarheit über Rollen, Verantwortungen und Rahmenbedingungen – für ein respektvolles Miteinander. Mediation
      unterstützt dann, wenn die Bemühungen der Betroffenen selbst scheitern. Außenstehende Dritte helfen beim
      Perspektivenwechsel und führen die Konfliktbeteiligten wieder zu konstruktiven Gesprächen.
    </div>
  </section>
  <section class="section gray-background">
    <h2 class="section-title">Die sechs Grundprinzipien</h2>
    <div class="section-content">
      <p>In der Mediation herrschen, neben dem transparenten
        Verfahrensablauf, auch klare Grundprinzipien:</p>
      <div class="principles-list">
        <div class="principles-list__item">
          <h2 class="principles-list__item__title">Freiwilligkeit</h2>
          <div class="principles-list__item__content">
            Das Verfahren ist freiwillig. Es kann jederzeit auf Wunsch einer Partei und/oder des Mediators abgebrochen
            werden.
          </div>
        </div>
        <div class="principles-list__item">
          <h2 class="principles-list__item__title">Neutralität / Allparteilichkeit</h2>
          <div class="principles-list__item__content">
            Der Mediator bewertet als Moderator des Verfahrens den Sachverhalt nicht und ist neutral. Er ist
            allparteilich.
          </div>
        </div>
        <div class="principles-list__item">
          <h2 class="principles-list__item__title">Eigenverantwortung / Autonomie</h2>
          <div class="principles-list__item__content">
            Die Parteien erarbeiten ihren Konsens eigenverantwortlich, das heißt die Lösung wird nicht vom Mediator
            vorgegeben.
          </div>
        </div>
        <div class="principles-list__item">
          <h2 class="principles-list__item__title">Informiertheit</h2>
          <div class="principles-list__item__content">
            Die Beteiligten erklären sich bereit, alle den Konflikt betreffenden Informationen während des gesamten
            Verfahrens offenzulegen.
          </div>
        </div>
        <div class="principles-list__item">
          <h2 class="principles-list__item__title">Vertraulichkeit</h2>
          <div class="principles-list__item__content">
            Die Mediation ist vertraulich. Alle Beteiligten und auch der Mediator verpflichten sich zur
            Verschwiegenheit.
          </div>
        </div>
        <div class="principles-list__item">
          <h2 class="principles-list__item__title">Ergebnis</h2>
          <div class="principles-list__item__content">
            Mediation lebt nicht von Vorgaben, sondern von den Ergebnissen, die sich im Laufe des Mediationsverfahrens
            entwickeln.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <h2 class="section-title">Eine Struktur führt zum Erfolg</h2>
    <div class="section-content"
         data-id="5616bff" data-element_type="widget" data-widget_type="text-editor.default">
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix"><p>Mediation ist ein strukturiertes Verfahren
          und gliedert sich nach dem Fünf-Phasen-Modell:</p></div>
      </div>
    </div>
    <div class="section-content"
         data-id="d9a7919" data-element_type="widget" data-widget_type="image.default">
      <div class="elementor-widget-container">
        <div class="full-width-image">
          <img class="full-width-image" src="assets/5Phasen.png" alt="" loading="lazy"/></div>
      </div>
    </div>
  </section>
  <section class="section gray-background">
    <h2 class="section-title">Wann und wo ist Mediation sinnvoll?</h2>
    <div class="section-content"
         data-id="1bafcbd" data-element_type="widget" data-widget_type="text-editor.default">
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix"><p>Mediation kann als Lösungsweg gewählt werden,
          wenn ein Konflikt festgefahren ist und kein rechtliches Verfahren eingeleitet werden soll. Die
          Parteien stehen in einer Beziehung zueinander, die sie in Zukunft aufrechterhalten wollen oder
          müssen. Sie sind an einer „Win-Win“-Situation interessiert und bringen die Bereitschaft mit, eine
          gemeinsame Lösung zu finden.</p>
          <p>Wer sich mit dem Gedanken trägt, einen Konflikt nicht auf streitige Weise und jedenfalls nicht
            vor Gericht auszutragen, kann an Hand der folgenden sieben Kriterien überprüfen, ob stattdessen
            das konsensuale Verfahren der Mediation für ihn das Richtige ist. Aber auch wenn alle oder fast
            alle Kriterien erfüllt sind, bedarf es für eine Mediation stets der Zustimmung beider
            Konfliktparteien:</p>
          <ul>
            <li>Sie und Ihr „Streitpartner“ können ihren Konflikt alleine nicht lösen und benötigen die Hilfe
              eines Dritten
            </li>
            <li>Sie möchten das Heft des Handelns formal und insbesondere inhaltlich selbst in der Hand
              halten
            </li>
            <li>Sie suchen eine schnelle und kostengünstige Lösung</li>
            <li>Sie suchen eine zukunftgerichtete und nachhaltige Lösung</li>
            <li>Sie wollen eine faire Lösung erreichen, die alle Interessen berücksichtigt und die für beide
              Konfliktparteien einen Gewinn darstellt
            </li>
            <li>Sie werden auch in Zukunft mit ihrem Streitpartner Kontakt haben</li>
            <li>Ihr Konflikt soll nicht in die Öffentlichkeit getragen werden</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <h2 class="section-title">Dauer und Kosten</h2>
    <div class="section-content"
         data-id="304ec1c" data-element_type="widget" data-widget_type="text-editor.default">
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix"><p>Im Vergleich zu langen und teuren
          Rechtsstreitigkeiten ist die Mediation als konsensorientiertes Verfahren meist sehr viel kürzer und
          kostenschonender. Auch die Aspekte der Nervenbelastung, Anspannung und reduzierten Lebensfreude sind
          oft wichtige Gründe für die Investition in eine Mediation.<br>
          Die Kosten richten sich nach der Komplexität einer Mediation und nach dem Konfliktfeld (privat,
          beruflich, Einzelpersonen, Gruppen).</p>
          <p>Die einzelnen Sitzungen dauern – je nach Vereinbarung – zwischen 60 und 90 Minuten. Der erste
            Termin, bei dem der Mediationsvertrag und Fragen zum Ablauf besprochen werden, dauert 30 Minuten
            und ist kostenlos. Falls gewünscht, kann dieser Termin auch in Form einer Videokonferenz (Zoom)
            stattfinden.</p>
          <p>Wie viele Sitzungen notwendig sind, um zu einer als fair empfundenen Regelung zu kommen, hängt
            vom Verlauf der Mediation ab. Selten wird jedoch die Anzahl von drei bis acht Terminen
            überschritten.<br>
            Der Sitzungsort und die konkrete Räumlichkeit werden jeweils bei der Anfrage gemeinsam festgelegt.
          </p></div>
      </div>
    </div>
  </section>
  <section class="section gray-background">
    <h2 class="section-title">Rechtsschutzversicherung</h2>
    <div class="section-content"
         data-id="2c365e9" data-element_type="widget" data-widget_type="text-editor.default">
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix"><p>Viele Rechtsschutzversicherungen übernehmen
          die Kosten für eine außergerichtliche Mediation – dies betrifft in manchen Fällen auch die Mediation
          in Rechtsgebieten, für die üblicherweise kein Rechtsschutz besteht (z.B. in familienrechtlichen
          Angelegenheiten).</p>
          <p>Ihr Versicherungspartner gibt Ihnen Auskunft dazu.<strong><br></strong></p></div>
      </div>
    </div>
  </section>
  <section class="section">
    <h2 class="section-title">Mein Angebot</h2>
    <div class="section-content">
      <p>Mein Angebot orientiert sich in erster Linie an Ihrem Bedarf und erstreckt sich über folgende Themenfelder:</p>
      <div class="offers-list">
        <div class="offers-list__item">
          <div class="offers-list__item__inner">
            <div class="offers-list__item__inner__front">
              <i class="far fa-building icon"></i>
              <h2 class="offers-list__item__inner__title">Wirtschaft</h2>
            </div>
            <div class="offers-list__item__inner__back">
              <ul>
                <li>Mitarbeiter-Mitarbeiter</li>
                <li>Mitarbeiter-Vorgesetzte</li>
                <li>Team-Mediation</li>
                <li>Lehrlingsmediation</li>
                <li>Mobbing</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="offers-list__item">
          <div class="offers-list__item__inner">
            <div class="offers-list__item__inner__front">
              <img width="50" height="50" src="assets/Family.svg" class="icon" alt="" loading="lazy">
              <h2 class="offers-list__item__inner__title">Familie</h2>
            </div>
            <div class="offers-list__item__inner__back">
              <ul>
                <li>Trennungs-/ Scheidungsmediation</li>
                <li>Jugendlichen-/ Elternmediation</li>
                <li>Geschwistermediation</li>
                <li>Erbschaftsmediation</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="offers-list__item">
          <div class="offers-list__item__inner">
            <div class="offers-list__item__inner__front">
              <i class="fas fa-school icon"></i>
              <h2 class="offers-list__item__inner__title">Schule</h2>
            </div>
            <div class="offers-list__item__inner__back">
              <ul>
                <li>Schulleitung- Elternvertretung</li>
                <li>Lehrer-Eltern</li>
                <li>Schüler-Lehrer</li>
                <li>Schüler-Schüler</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="offers-list__item">
          <div class="offers-list__item__inner">
            <div class="offers-list__item__inner__front">
              <img width="50" height="50" src="assets/Neighbour.svg" class="icon" alt="" loading="lazy">
              <h2 class="offers-list__item__inner__title">Nachbarschaft</h2>
            </div>
            <div class="offers-list__item__inner__back">
              <ul>
                <li>Jegliche Konflikte, die das nachbarschaftliche Verhältnis stören</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section gray-background">
    <div>
      <h2 class="elementor-heading-title elementor-size-default">Ihre Vorteile</h2>
      <div class="">
        <p>Mediation leitet sich vom lateinischen „mediare“ = „vermitteln“, ab.<br>Bei diesem Verfahren geht es um
          das gemeinsame und vor allem friedliche Gestalten von Lösungsansätzen. Im Gegensatz zum strittigen
          Verfahren vor Gericht, wo es meist einen Gewinner und einen Verlierer gibt, sprechen hier die Beteiligten
          selbst.</p>
        <p>Im Vordergrund steht dabei ein gegenseitiges „Verstehen“ und nicht der „Kampf“. Somit wirkt Mediation
          deeskalierend und das Erarbeiten einer für alle zufriedenstellenden Lösung kann gelingen. Mediation steht
          also nicht für Egoismus, sondern für Empathie, Konsens und Akzeptanz.</p>
        <p>Bei einer Lösung werden immer auch Interessen wie Gerechtigkeit, Fairness, ökonomische Sinnhaftigkeit,
          moralische Standards und die Konsequenzen für das gesamte System mitberücksichtigt.</p>
      </div>
    </div>
    <div>
      <div class="benefits-overview">
        <div class="benefits-overview__text">
          <h3>Ihre Vorteile im Überblick:</h3>
          <div class="benefits-overview__text__list">
            <ul>
              <li>Kooperation statt Konfrontation, Schaffen von Win / Win – Lösungen</li>
              <li>Kosten-, Energie- und Zeitersparnis</li>
              <li>Wahrung der Privatautonomie der Parteien</li>
              <li>Wiederherstellung und Verbesserung der beidseitigen Kommunikation und Erhalt der
                Geschäftsbeziehung
              </li>
              <li>Zukunftsorientierung</li>
            </ul>
          </div>
        </div>
        <div class="benefits-overview__image-container"></div>
      </div>
    </div>
  </section>
</article>
<app-contact-section></app-contact-section>
