<article>
  <div class="impressum-datenschutz">
    <div class="impressum-datenschutz__impressum">
      <h2 class="impressum-datenschutz__impressum__title">Impressum</h2>
      <div class="impressum-datenschutz__impressum__content"><p>Mag. Astrid Öllinger, PMM</p>
        <p>Unternehmensberatung und Mediation</p>
        <p>Födermayrstraße 24<br>4470 Enns<br>Österreich</p>
        <p>+43 699 10406536<br>a.oellinger@ao-mediation.at</p></div>
    </div>
    <div class="impressum-datenschutz__datenschutz">
      <h2 class="impressum-datenschutz__datenschutz__title">Datenschutz</h2>
      <div class="impressum-datenschutz__datenschutz__content"><p>Der Schutz Ihrer persönlichen Daten ist uns ein
        besonderes Anliegen. Wir verarbeiten Ihre Daten daher ausschließlich auf Grundlage der gesetzlichen Bestimmungen
        (DSGVO, TKG 2003). In diesen Datenschutzinformationen informieren wir Sie über die wichtigsten Aspekte der
        Datenverarbeitung im Rahmen unserer Website.</p>
        <h3>Kontakt mit uns</h3>
        <p>Wenn Sie per E-Mail Kontakt mit uns aufnehmen, werden Ihre angegebenen Daten zwecks Bearbeitung der Anfrage
          und
          für den Fall von Anschlussfragen sechs Monate bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre
          Einwilligung weiter.</p>
        <h3>Cookies</h3>
        <p>Diese Website verwendet keinerlei Cookies.</p>
        <h3>Ihre Rechte</h3>
        <p>Ihnen stehen bezüglich Ihrer bei uns gespeicherten Daten grundsätzlich die Rechte auf Auskunft, Berichtigung,
          Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass die
          Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst
          in
          einer Weise verletzt worden sind, können Sie sich bei uns oder der Datenschutzbehörde beschweren.</p></div>
    </div>
  </div>
</article>
<app-contact-section></app-contact-section>
