<section class="contact-section">
  <div class="contact-section__container">
    <div class="contact-section__container__item">
      <div class="contact-section__container__item__logo-container">
        <a href="index.html">
          <img width="100" height="100"
               src="assets/Logo_Astrid.png"
               class="attachment-full size-full" alt="" loading="lazy">
        </a>
      </div>
    </div>
    <div class="contact-section__container__item">
      <ul class="contact-section__container__item__contacts-list">
        <li class="contact-section__container__item__contacts-list__item">
          <span class="contact-section__container__item__contacts-list__item__icon">
            <i aria-hidden="true" class="fas fa-phone"></i>
          </span>
          <span class="contact-section__container__item__contacts-list__item__text">+43 699 10406536</span>
        </li>
        <li class="contact-section__container__item__contacts-list__item">
          <a href="mailto:a.oellinger@ao-mediation.at">
            <span class="contact-section__container__item__contacts-list__item__icon">
							<i aria-hidden="true" class="fas fa-envelope"></i>
            </span>
            <span class="contact-section__container__item__contacts-list__item__text">a.oellinger@ao-mediation.at</span>
          </a>
        </li>
        <li class="contact-section__container__item__contacts-list__item">
          <a href="https://goo.gl/maps/KaoLnoRMczDXtye77">
            <span class="contact-section__container__item__contacts-list__item__icon">
							<i aria-hidden="true" class="fas fa-map-marker-alt"></i>
            </span>
            <span
              class="contact-section__container__item__contacts-list__item__text">Födermayrstraße 24, 4470 Enns</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="contact-section__container__item">
      <h2 class="contact-section__container__item__impressum"><a
        href="/impressum">Impressum</a>
      </h2>
    </div>
  </div>
</section>
