html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", Sans-serif, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  height: 100vh;
  overflow: visible;
}

p {
  margin-bottom: 20px;
}

h2 {
  color: #060D25;
  font-family: "Poppins", Sans-serif, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

h3 {
  color: #060D25;
  font-family: "Poppins", Sans-serif, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

article{
  padding: 100px 10px 10px 40px;
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.full-width-image {
  width: 100%;
  height: auto;
}

.gray-background {
  background: #EEEEEE;
}

.block {
  padding: 20px;
}

