.top-container {
  display: flex;

  .top-container__image {
   flex: 1;
  }

  .top-container__title {
   flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .top-container__title__name {
      color: #060D25;
      font-size: 30px;
      font-weight: 300;
    }

    .top-container__title__divider {
      border-style: solid;
      color: #081030;
      border-width: 1px;
      width: 80%;
      margin: 10px 0;
    }

    .top-container__title__subtitle {
      color: #060D25;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
    }
  }
}

.center-container {
  padding: 30px;
}

.bottom-container__items {
  display: flex;
  flex-direction: row;

  .bottom-container__items__item {
    flex: 1;
    padding: 20px;
    color: #7A7A7A;
    font-family: "Poppins", Sans-serif, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    .bottom-container__items__item__title {
      font-size: 18px;
      font-weight: 300;
      font-style: italic;
      text-align: center;
    }
  }
}

