<article>
  <div class="top-container">
    <div class="top-container__image">
      <img class="full-width-image" src="assets/Astrid-Oellinger.jpg" title="Astrid Öllinger" alt="Astrid Öllinger"/>
    </div>
    <div class="top-container__title">
      <div class="top-container__title__logo">
        <a href="./index.html" class="no-lightbox">
          <img src="assets/Logo_Astrid.png" title="Logo_Astrid" alt="Logo_Astrid"></a>
      </div>
      <div class="top-container__title__name">Mag. Astrid Öllinger, PMM</div>
      <span class="top-container__title__divider"></span>
      <div class="top-container__title__subtitle">
        <div>Mediation &amp; Konfliktmanagement <br>Unternehmensberatung</div>
      </div>
    </div>
  </div>
  <div class="center-container">
    <h2>Herzlich Willkommen!</h2>
    <span>Jeder kennt sie, keiner will sie: Konflikte und Auseinandersetzungen.
Doch Konflikte sind nicht nur anstrengend und lästig. Häufig sind sie der Motor für Veränderung und Weiterentwicklung.
Mediation soll Unterstützung im Umgang mit schwierigen und belastenden Situationen bieten, Chancen aufzeigen und eine nachhaltige Lösungsfindung ermöglichen.</span>
  </div>
  <div class="bottom-container gray-background">
    <div class="bottom-container__items">
      <div class="bottom-container__items__item">
        <div class="elementor-image"><img width="400" height="200"
                                          src="assets/Ich-unterstutze-Sie.jpg"
                                          class="full-width-image" alt="" loading="lazy"></div>
        <div class="bottom-container__items__item__title">Ich unterstütze Sie</div>
        <div class="elementor-text-editor elementor-clearfix"><p>Als Mediatorin unterstütze ich Sie bei der Suche nach
          fairen und interessensgerechten Lösungen für <em><span style="color: #000000;">Konflikte im beruflichen wie auch privaten Kontext.</span></em><br>Die
          Aufgabenstellungen in der Mediation und Konfliktbearbeitung sind so unterschiedlich wie die Menschen selbst.
          In
          einem <em><span style="color: #000000;">vertraulichen Rahmen </span></em>werden Konflikte angesprochen, auf
          eine
          professionelle Ebene gehoben und anschließend einer <em><span
            style="color: #000000;">konstruktiven Lösung </span></em>zugeführt.<br><strong>So
            können gemeinsame Vereinbarungen entwickelt und neu gestartet werden.</strong></p></div>
      </div>
      <div class="bottom-container__items__item">

        <div class="elementor-image">
          <img width="400" height="200"
               src="assets/Ich-vermittle-fur-Sie.jpg"
               class="full-width-image" alt="" loading="lazy"></div>

        <div class="bottom-container__items__item__title">Ich vermittle für Sie</div>
        <div class="elementor-text-editor elementor-clearfix"><p>Als allparteiliche Vermittlerin schlage ich eine Brücke
          zwischen den Konfliktparteien und unterstütze Sie dabei, die Sichtweise der jeweils anderen Seite zu hören und
          auch zu verstehen. Dabei achte ich stets auf eine <em><span style="color: #000000;">angenehme und sachliche Atmosphäre</span></em>,
          in welcher die Meinung aller transparent werden kann.<br>Als Mediatorin handle ich <em><span
            style="color: #000000;">allparteilich</span> </em>und sorge für einen <em><span style="color: #000000;">konstruktiven, gemeinschaftlichen Umgang.</span></em><br><strong>So
            kann eine nachhaltige, für alle Parteien akzeptable und alltagstaugliche Lösung gefunden werden.</strong>
        </p>
        </div>

      </div>
      <div class="bottom-container__items__item">

        <div class="elementor-image">
          <img width="400" height="200"
               src="assets/Ich-begleite-Sie.jpg"
               class="full-width-image" alt="" loading="lazy"></div>

        <div class="bottom-container__items__item__title">Ich begleite Sie</div>
        <div class="elementor-text-editor elementor-clearfix"><p>Ich begleite Sie einzeln oder in Co-Mediation während
          der
          Sitzungen mit dem Ziel, einen Weg zu finden, den Sie alle auch in Zukunft gemeinsam gehen können. Während
          meine
          Rolle als Mediatorin darin besteht, <span
            style="color: #000000;"><em>Sie durch den Prozess zu führen</em></span>, sind Sie als Experte verantwortlich
          für das Thema und den Inhalt. Ich unterstütze und begleite Sie <em><span style="color: #000000;">strukturell und flexibel</span>
          </em>bei der „<em>Ent-wicklung“</em> Ihres Konflikts sowie beim Verständnisaufbau und einer kreativen
          Lösungssuche.<br><strong>So kann ein Konsens für eine gemeinsame Zukunft erreicht werden.</strong></p></div>
      </div>
    </div>
  </div>
</article>
<app-contact-section></app-contact-section>
