footer {
  position: fixed;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  bottom: 0;
  background-color: #5B626D;
  height: 23px;

  .footer-container {
  max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    position: relative;



    .footer-container__element{
      color: #FFFFFF;
      font-family: "Poppins", Sans-serif, sans-serif;
      font-size: 13px;
      font-weight: 300;
      line-height: 13px;
      margin: 5px 10px 5px 10px;
    }
  }
}
